.margin {
  &__article {
    height: 5vh;
  }
  &__page-top {
    height: 125px;
  }
  &__pagination {
    height: 30px;
  }
  &__box {
    margin-left: $left-margin;
    max-width: $max-width;
  }
}

@include mq {
  .margin {
    &__article {
      height: 5vh;
    }
    &__page-top {
      height: 50px;
    }
  }
}
