.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $backgroud-color1;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
}

@include mq {
  .header {
    height: 50px;
    justify-content: initial;
    padding-left: $left-margin;
  }
}
