/* Contact Form7 */

.contact7 {
  //max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  &__info {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
  }
  &__label {
    padding-left: 0.5rem;
  }
  & input {
    margin: 0 0 30px 0;
    background-color: #fff;
    border: 1px solid #000;
  }
  & textarea {
    max-width: 100%;
    margin: 0 0 30px 0;
    background-color: #fff;
    border: 1px solid #000;
  }
  &__submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
  }
  &__checkbox {
    display: flex;
    border-bottom: 1px solid $main-color1;
  }
  &__must {
    background: $main-color1;
    color: #fff;
    border-radius: 3px;
    font-size: 10px;
    padding: 5px 10px;
    letter-spacing: 2px;
  }
  &__optional {
    background: $main-color2;
    border: 1px solid $main-color1;
    border-radius: 3px;
    font-size: 10px;
    padding: 5px 10px;
    letter-spacing: 2px;
  }
  &__btn {
    text-align: center;
    & input {
      min-width: 50%;
      background: $main-color1;
      color: #fff;
      border-radius: 3px;
      border: $main-color1 solid 1px;
      font-size: 1rem;
      margin-top: 1rem;
      padding: 5px 10px;
      letter-spacing: 2px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
      &:hover {
        background-color: #fff;
        color: $main-color1;
        border: #000 solid 1px;
      }
    }
  }
}
