.pagination {
  margin-top: 0.5rem;
  & .page-number-list {
    display: flex;
    flex-direction: row;
  }
  & .page-numbers {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    padding: 1rem;
    border-radius: 3px;
    background: #fff;
    border: solid 1px $main-color1;
  }
  & .current {
    padding: 1rem 1rem;
    background: $main-color1;
    color: #fff;
  }
  & .prev,
  & .next {
    background: transparent;
    box-shadow: none;
    color: $main-color1;
  }
  & .dots {
    background: transparent;
    box-shadow: none;
  }
}
.nav-links {
  display: flex;
}
